@font-face {
  font-family: "RadioCanada-SemiBold";
  src: url("../fonts/RadioCanada-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RadioCanada-Medium";
  src: url("../fonts/RadioCanada-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RadioCanada-Regular";
  src: url("../fonts/RadioCanada-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RadioCanada-Light";
  src: url("../fonts/RadioCanada-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "RadioCanada-Regular", sans-serif;
  font-size: 20px;
  color: #4f4f4f;
  background-color: #fafafa;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1790px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.input-reset {
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
}
.input-reset:focus {
  outline: none;
}

.btn-reset {
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.title {
  margin: 0;
}

.hero {
  position: relative;
  padding: 220px 0 135px 0;
}
.hero::before, .hero::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 568px;
  height: 881px;
  background-image: url("../img/hero/city-height-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  left: 0;
  width: 590px;
  height: 1165px;
  background-image: url("../img/hero/city-height-up.svg");
}
.hero .container {
  max-width: 1430px;
}
.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  margin-bottom: 55px;
  text-align: center;
  font-family: "RadioCanada-Medium", sans-serif;
  font-weight: 500;
  font-size: 94px;
  line-height: 70%;
}
@media (max-width: 1400px) {
  .hero__title {
    font-size: 74px;
  }
}
@media (max-width: 1200px) {
  .hero__title {
    margin-bottom: 35px;
    font-size: 64px;
  }
}
.hero__slogan {
  margin-bottom: 70px;
  text-align: center;
  max-width: 860px;
  font-family: "RadioCanada-Regular", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 80%;
}
.hero__slogan:first-of-type {
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .hero__slogan {
    font-size: 38px;
  }
}
@media (max-width: 1200px) {
  .hero__slogan {
    font-size: 34px;
  }
  .hero__slogan:first-of-type {
    margin-bottom: 10px;
  }
}
.hero__img {
  width: 625px;
  height: 700px;
}