@font-face {
  font-family: "RadioCanada-SemiBold";
  src: url("../fonts/RadioCanada-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RadioCanada-Medium";
  src: url("../fonts/RadioCanada-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RadioCanada-Regular";
  src: url("../fonts/RadioCanada-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RadioCanada-Light";
  src: url("../fonts/RadioCanada-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "RadioCanada-Regular", sans-serif;
  font-size: 20px;
  color: #4f4f4f;
  background-color: #fafafa;
}
body.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1800px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.input-reset {
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
}
.input-reset:focus {
  outline: none;
}

.btn-reset {
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

.title {
  margin: 0;
  font-family: "RadioCanada-Medium", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 75%;
}
@media (max-width: 1200px) {
  .title {
    font-size: 54px;
  }
}
@media (max-width: 992px) {
  .title {
    font-family: "RadioCanada-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}

.text {
  margin: 0;
}

.link {
  padding: 10px 0;
  text-align: center;
  max-width: 240px;
  width: 100%;
  font-family: "RadioCanada-SemiBold", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #39b7ff;
  border-radius: 30px;
  transition: transform 0.4s;
}
.link:hover {
  transform: scale(0.9);
}
@media (max-width: 992px) {
  .link {
    padding: 15px 0;
  }
}
@media (max-width: 576px) {
  .link {
    max-width: 100%;
    font-size: 16px;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .nav__menu {
    flex-direction: column;
  }
}
.nav__item {
  margin-right: 40px;
  font-size: 18px;
  transition: transform 0.4s;
}
@media (max-width: 1400px) {
  .nav__item {
    margin-right: 20px;
  }
}
@media (max-width: 1200px) {
  .nav__item {
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .nav__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .nav__item:last-of-type {
    margin-bottom: 0;
  }
}
.nav__item:last-of-type {
  margin-right: 0;
}
.nav__item:hover {
  transform: scale(0.9);
}

.spollers {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  width: 100%;
}

.spoller {
  margin-bottom: 25px;
}
.spoller__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "RadioCanada-Medium", sans-serif;
  font-size: 28px;
  line-height: 105%;
}
.spoller__header::after {
  position: absolute;
  content: "";
  border-top: 1px solid #0a8ed9;
  width: 100%;
  bottom: 0;
  left: 0;
}
.spoller__header:hover {
  color: #0a8ed9;
}
.spoller__header:hover .spoller__icon {
  stroke: #0a8ed9;
}
.spoller__header::marker {
  content: "";
  font-size: 0;
}
@media (max-width: 1200px) {
  .spoller__header {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .spoller__header {
    padding: 0 0 10px 0;
  }
}
.spoller__title {
  transition: color 0.4s;
}
@media (max-width: 768px) {
  .spoller__title {
    max-width: 520px;
  }
}
@media (max-width: 576px) {
  .spoller__title {
    max-width: 290px;
  }
}
.spoller__icon {
  width: 15px;
  height: 9px;
  stroke: #4f4f4f;
  transition: all 0.4s;
}
.spoller__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}
.spoller__text {
  margin: 0;
  padding: 30px 150px 25px 15px;
  font-family: "RadioCanada-Light", sans-serif;
  font-size: 20px;
  line-height: 125%;
}
@media (max-width: 992px) {
  .spoller__text {
    padding: 10px 5px 15px 0;
    font-size: 18px;
  }
}
@media (max-width: 567px) {
  .spoller__text {
    font-size: 16px;
  }
}
.spoller:open .spoller__title {
  color: #0a8ed9;
}
.spoller:open .spoller__icon {
  transform: rotate(180deg);
  stroke: #0a8ed9;
}

.header {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  padding: 0 95px 0 55px;
  width: 100%;
  z-index: 2;
}
@media (max-width: 992px) {
  .header {
    top: 25px;
    padding: 0 5px 0 10px;
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__link-logo {
  line-height: 0;
  z-index: 2;
}
.header__logo {
  width: 221px;
  height: 66px;
}
@media (max-width: 1400px) {
  .header__logo {
    width: 180px;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    width: 133px;
    height: 40px;
  }
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 895px;
  width: 100%;
}
@media (max-width: 992px) {
  .header__content {
    display: none;
  }
}
.header__nav {
  margin-right: 50px;
}
@media (max-width: 1400px) {
  .header__nav {
    margin-right: 15px;
  }
}
.header__link {
  padding: 10px 0;
  width: 205px;
}
@media (max-width: 1400px) {
  .header__link {
    width: 150px;
  }
}
@media (max-width: 1200px) {
  .header__link {
    font-size: 16px;
    width: 120px;
  }
}
.header__mobile-content {
  display: none;
  align-items: center;
}
@media (max-width: 992px) {
  .header__mobile-content {
    display: flex;
  }
}
.header__download {
  margin-right: 30px;
  line-height: 0;
  transition: transform 0.4s;
  z-index: 2;
}
.header__download:hover {
  transform: scale(0.9);
}
.header__icon {
  width: 24px;
  height: 24px;
}

.burger {
  position: relative;
  width: 40px;
  height: 20px;
  transition: all 0.4s;
  z-index: 2;
}
.burger::before, .burger::after {
  position: absolute;
  content: "";
  right: 0;
  height: 3px;
  background-color: #53a6ea;
  border-radius: 4px;
  transition: all 0.4s;
}
.burger::before {
  top: 0;
  width: 30px;
}
.burger::after {
  top: 100%;
  width: 40px;
  transform: translateY(-100%);
}
.burger:hover {
  transform: scale(0.9);
}
.burger__burger-line {
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 4px;
  width: 35px;
  height: 3px;
  background-color: #39b7ff;
  transform: translateY(-50%);
}
.burger.open {
  height: 40px;
}
.burger.open .burger__burger-line {
  display: none;
}
.burger.open::before, .burger.open::after {
  top: 50%;
  width: 100%;
}
.burger.open::before {
  transform: rotate(45deg);
}
.burger.open::after {
  transform: rotate(-45deg);
}

.burger-nav {
  position: absolute;
  top: -62%;
  left: -100%;
  padding: 80px 15px 15px 25px;
  width: 100%;
  height: 100vh;
  background: rgba(205, 237, 255, 0.9);
  transition: left 0.4s;
  z-index: 1;
}
.burger-nav__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.burger-nav__item {
  font-size: 18px;
  transition: transform 0.4s;
}
.burger-nav__item:hover {
  transform: scale(0.9);
}
.burger-nav.open {
  left: 0;
}

.hero {
  position: relative;
  padding: 220px 0 135px 0;
}
@media (max-width: 1200px) {
  .hero {
    padding: 100px 0 65px 0;
  }
}
.hero::before, .hero::after {
  position: absolute;
  top: 0;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero::before {
  left: 0;
  width: 590px;
  height: 1165px;
  background-image: url("../img/hero/city-height-up.svg");
}
@media (max-width: 1200px) {
  .hero::before {
    width: 300px;
    height: 735px;
  }
}
@media (max-width: 992px) {
  .hero::before {
    left: 50%;
    width: 768px;
    height: 764px;
    background-image: url("../img/hero/bkg-city-mobile.svg");
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .hero::before {
    width: 576px;
    height: 572px;
  }
}
@media (max-width: 576px) {
  .hero::before {
    width: 360px;
    height: 352px;
  }
}
.hero::after {
  right: 0;
  width: 568px;
  height: 881px;
  background-image: url("../img/hero/city-height-down.svg");
}
@media (max-width: 1200px) {
  .hero::after {
    width: 408px;
    height: 641px;
  }
}
@media (max-width: 992px) {
  .hero::after {
    display: none;
  }
}
.hero .container {
  max-width: 1430px;
}
@media (max-width: 768px) {
  .hero .container {
    padding: 0 9px;
  }
}
.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  margin-bottom: 55px;
  text-align: center;
  font-size: 94px;
  line-height: 70%;
}
@media (max-width: 1400px) {
  .hero__title {
    font-size: 74px;
  }
}
@media (max-width: 1200px) {
  .hero__title {
    margin-bottom: 35px;
    font-size: 64px;
  }
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 54px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    margin-bottom: 25px;
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    margin-bottom: 5px;
    max-width: 320px;
    line-height: 100%;
  }
}
.hero__slogan {
  margin-bottom: 20px;
  text-align: center;
  max-width: 860px;
  font-family: "RadioCanada-Regular", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 80%;
}
.hero__slogan:last-of-type {
  margin-bottom: 70px;
}
@media (max-width: 1400px) {
  .hero__slogan {
    font-size: 38px;
  }
}
@media (max-width: 1200px) {
  .hero__slogan {
    margin-bottom: 10px;
    font-size: 34px;
  }
}
@media (max-width: 992px) {
  .hero__slogan {
    font-size: 29px;
  }
}
@media (max-width: 768px) {
  .hero__slogan {
    font-size: 24px;
  }
  .hero__slogan:last-of-type {
    margin-bottom: 35px;
  }
}
@media (max-width: 576px) {
  .hero__slogan {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 100%;
  }
}
.hero__images {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
@media (max-width: 768px) {
  .hero__images {
    gap: 10px;
  }
}
.hero__phone-img {
  width: 300px;
  height: 615px;
  border-radius: 45px;
  box-shadow: -15px 20px 40px rgba(0, 0, 0, 0.3);
}
.hero__phone-img:first-of-type {
  margin-bottom: 85px;
}
@media (max-width: 1400px) {
  .hero__phone-img {
    width: 250px;
    height: 505px;
  }
}
@media (max-width: 768px) {
  .hero__phone-img {
    width: 154px;
    height: 314px;
    border-radius: 25px;
  }
}

.about-us {
  padding: 40px 0 70px 0;
}
@media (max-width: 992px) {
  .about-us {
    padding: 0 0 50px 0;
  }
}
.about-us__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about-us__wrap {
    flex-direction: column;
  }
}
.about-us__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 675px;
}
@media (max-width: 1400px) {
  .about-us__content {
    max-width: 365px;
  }
}
@media (max-width: 992px) {
  .about-us__content {
    margin-bottom: 75px;
    max-width: 100%;
  }
}
.about-us__title {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .about-us__title {
    margin-bottom: 26px;
  }
}
.about-us__text {
  margin-bottom: 30px;
  font-family: "RadioCanada-Light", sans-serif;
}
.about-us__text:last-of-type {
  margin-bottom: 40px;
}
@media (max-width: 1400px) {
  .about-us__text {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .about-us__text {
    margin-bottom: 10px;
  }
  .about-us__text:last-of-type {
    margin-bottom: 30px;
  }
}
.about-us__link {
  position: relative;
  text-align: left;
  padding: 15px 0 15px 50px;
}
.about-us__link::after {
  position: absolute;
  right: 50px;
  top: 50%;
  content: "";
  width: 42px;
  height: 42px;
  background-image: url("../img/about-us/palm.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .about-us__link {
    padding: 15px 0;
    text-align: center;
  }
  .about-us__link::after {
    right: 10%;
  }
}
@media (max-width: 576px) {
  .about-us__link::after {
    right: 26%;
  }
}
@media (max-width: 420px) {
  .about-us__link::after {
    right: 22%;
  }
}
.about-us__images {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  padding-right: 145px;
  max-width: 960px;
}
.about-us__images::before, .about-us__images::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-us__images::before {
  top: -26px;
  left: -100px;
  width: 212px;
  height: 216px;
  background-image: url("../img/about-us/bkg-big-decor.svg");
  z-index: -1;
}
@media (max-width: 1400px) {
  .about-us__images::before {
    left: -50px;
  }
}
.about-us__images::after {
  top: -40px;
  right: 100px;
  width: 94px;
  height: 96px;
  background-image: url("../img/about-us/bkg-small-decor.svg");
  transform: rotate(22deg);
}
@media (max-width: 1400px) {
  .about-us__images {
    padding-right: 110px;
  }
  .about-us__images::after {
    right: 65px;
  }
}
@media (max-width: 1200px) {
  .about-us__images {
    padding-right: 90px;
  }
  .about-us__images::after {
    right: 45px;
  }
}
@media (max-width: 992px) {
  .about-us__images {
    justify-content: flex-end;
    padding-right: 0;
    max-width: 315px;
    width: 100%;
  }
  .about-us__images::before {
    top: 0px;
    left: -50px;
    width: 129px;
    height: 131px;
    transform: rotate(10deg);
  }
  .about-us__images::after {
    top: -70px;
    right: -65px;
  }
}
.about-us__smiling-people {
  width: 450px;
  height: 360px;
  border-radius: 20px;
}
.about-us__smiling-people--mobile {
  display: none;
}
@media (max-width: 1400px) {
  .about-us__smiling-people {
    width: 330px;
    height: 240px;
  }
}
@media (max-width: 1200px) {
  .about-us__smiling-people {
    width: 290px;
    height: 200px;
  }
}
@media (max-width: 992px) {
  .about-us__smiling-people {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    width: 247px;
    height: 222px;
    z-index: -1;
  }
  .about-us__smiling-people--mobile {
    display: flex;
  }
}
.about-us__people-high-five {
  width: 340px;
  height: 520px;
  border-radius: 20px;
}
.about-us__people-high-five--mobile {
  display: none;
}
@media (max-width: 1400px) {
  .about-us__people-high-five {
    width: 240px;
    height: 420px;
  }
}
@media (max-width: 1200px) {
  .about-us__people-high-five {
    width: 200px;
    height: 380px;
  }
}
@media (max-width: 992px) {
  .about-us__people-high-five {
    display: none;
    width: 126px;
    height: 318px;
  }
  .about-us__people-high-five--mobile {
    display: flex;
  }
}
.about-us__people-at-the-computer {
  position: absolute;
  bottom: 22px;
  right: 0;
  width: 315px;
  height: 255px;
  border-radius: 10px;
}
@media (max-width: 1400px) {
  .about-us__people-at-the-computer {
    width: 235px;
    height: 175px;
  }
}
@media (max-width: 1200px) {
  .about-us__people-at-the-computer {
    width: 192px;
    height: 135px;
  }
}
@media (max-width: 992px) {
  .about-us__people-at-the-computer {
    bottom: 0;
    left: 0;
    height: 154px;
  }
}

.about-app {
  padding: 70px 0;
}
@media (max-width: 992px) {
  .about-app {
    padding: 50px 0 45px 0;
  }
}
.about-app__title {
  margin-bottom: 65px;
}
@media (max-width: 992px) {
  .about-app__title {
    margin-bottom: 30px;
  }
}
.about-app__wrap {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
@media (max-width: 1400px) {
  .about-app__wrap {
    align-items: flex-end;
  }
}
@media (max-width: 1200px) {
  .about-app__wrap {
    align-items: center;
  }
}
@media (max-width: 992px) {
  .about-app__wrap {
    flex-direction: column;
    gap: 0;
  }
}
.about-app__img {
  margin-bottom: 50px;
  width: 560px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 14px 0 rgba(62, 86, 105, 0.1);
}
@media (max-width: 1800px) {
  .about-app__img {
    width: 420px;
  }
}
@media (max-width: 1400px) {
  .about-app__img {
    width: 290px;
  }
}
@media (max-width: 992px) {
  .about-app__img {
    margin-bottom: 0;
    width: 320px;
    height: 319px;
  }
}
.about-app__img--long {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .about-app__img--long {
    margin-bottom: 30px;
    height: 470px;
  }
}
@media (max-width: 576px) {
  .about-app__img--long {
    margin-bottom: 55px;
  }
}
.about-app__img--mrg-bt-less {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .about-app__img--mrg-bt-less {
    height: 274px;
  }
}
.about-app__img--short {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .about-app__img--short {
    height: 265px;
  }
}
.about-app__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
}
@media (max-width: 1400px) {
  .about-app__inner:last-of-type {
    justify-content: space-between;
    height: 721px;
  }
}
@media (max-width: 1400px) {
  .about-app__inner:last-of-type {
    height: 480px;
  }
}
@media (max-width: 992px) {
  .about-app__inner:last-of-type {
    height: 567px;
  }
  .about-app__inner:first-of-type {
    margin-bottom: 30px;
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .about-app__inner:first-of-type {
    margin-bottom: 20px;
  }
}
.about-app__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .about-app__content {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .about-app__content {
    margin-bottom: 40px;
  }
}
.about-app__text {
  margin-bottom: 30px;
  font-family: "RadioCanada-Light", sans-serif;
}
.about-app__text .first-word-blue {
  font-family: "RadioCanada-SemiBold", sans-serif;
  color: #53a6ea;
}
@media (max-width: 1400px) {
  .about-app__text {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
.about-app__link {
  max-width: 260px;
  font-size: 16px;
}
@media (max-width: 576px) {
  .about-app__link {
    max-width: 100%;
  }
}

.problem-solution {
  padding: 70px 0 75px 0;
}
@media (max-width: 992px) {
  .problem-solution {
    padding: 45px 0 40px 0;
  }
}
.problem-solution__title {
  margin-bottom: 85px;
  max-width: 695px;
  line-height: 105%;
}
@media (max-width: 768px) {
  .problem-solution__title {
    font-size: 30px;
  }
}
.problem-solution__cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 95px 40px;
}
@media (max-width: 1400px) {
  .problem-solution__cards {
    gap: 55px 20px;
  }
}
@media (max-width: 1200px) {
  .problem-solution__cards {
    gap: 80px 20px;
  }
}
.problem-solution__card {
  position: relative;
  padding-left: 70px;
  max-width: 560px;
}
.problem-solution__card::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/problem-solution/card-decor.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(18deg);
}
@media (max-width: 1200px) {
  .problem-solution__card {
    padding-left: 0;
    max-width: 460px;
  }
  .problem-solution__card::before {
    top: -15px;
    transform: rotate(18deg) translateY(-100%);
  }
}
@media (max-width: 992px) {
  .problem-solution__card {
    max-width: 100%;
  }
  .problem-solution__card::before {
    width: 27px;
    height: 27px;
  }
}
.problem-solution__subtitle {
  margin-bottom: 20px;
  font-family: "RadioCanada-Medium", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 105%;
  color: #0a8ed9;
}
@media (max-width: 1800px) {
  .problem-solution__subtitle {
    font-size: 34px;
  }
}
@media (max-width: 1200px) {
  .problem-solution__subtitle {
    font-size: 24px;
  }
}
.problem-solution__text {
  font-family: "RadioCanada-Light", sans-serif;
  line-height: 125%;
}
@media (max-width: 576px) {
  .problem-solution__text {
    font-size: 16px;
  }
}

.faq {
  padding: 75px 0 150px 0;
}
@media (max-width: 992px) {
  .faq {
    padding: 40px 0 85px 0;
  }
}
.faq__title {
  margin-bottom: 55px;
}
.faq__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.download {
  padding: 160px 0 175px 0;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .download {
    padding: 100px 0 115px 0;
  }
}
.download__container {
  max-width: 755px;
}
.download__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download__title {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .download__title {
    margin-bottom: 10px;
    font-size: 31px;
  }
}
.download__text {
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
}
@media (max-width: 992px) {
  .download__text {
    margin-bottom: 30px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .download__text {
    font-size: 18px;
  }
}
.download__icon-download {
  margin-bottom: 40px;
  width: 392px;
  height: 114px;
}
@media (max-width: 992px) {
  .download__icon-download {
    margin-bottom: 30px;
    width: 319px;
    height: 92px;
  }
}

.footer {
  padding: 55px 0 120px 0;
  background-color: #cdedff;
}
@media (max-width: 992px) {
  .footer {
    padding-bottom: 90px;
  }
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .footer__wrap {
    align-items: center;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
}
@media (max-width: 992px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__link {
  line-height: 0;
}
@media (max-width: 992px) {
  .footer__link {
    margin-bottom: 30px;
  }
}
.footer__logo {
  width: 269px;
  height: 81px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  max-width: 575px;
}
@media (max-width: 992px) {
  .footer__form {
    padding-left: 0;
  }
}
.footer__label {
  margin-bottom: 20px;
  font-family: "RadioCanada-Light", sans-serif;
  line-height: 125%;
  cursor: pointer;
}
@media (max-width: 992px) {
  .footer__label {
    text-align: center;
  }
}
.footer__inner {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 992px) {
  .footer__inner {
    flex-direction: column;
  }
}
.footer__input {
  padding: 15px;
  border: 1px solid #e2e8f0;
  max-width: 340px;
  width: 100%;
  font-family: "RadioCanada-Regular", sans-serif;
  font-size: 20px;
  color: #4f4f4f;
  background-color: #ffffff;
  border-radius: 4px 0 0 4px;
}
.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #718096;
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #718096;
}
@media (max-width: 992px) {
  .footer__input {
    margin-bottom: 15px;
    max-width: 100%;
    border-radius: 4px;
  }
}
.footer__btn {
  border: 1px solid #0a8ed9;
  padding: 15px 50px;
  font-family: "RadioCanada-SemiBold", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #0a8ed9;
  border-radius: 0 4px 4px 0;
  transition: all 0.4s;
}
.footer__btn:hover {
  color: #0a8ed9;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .footer__btn {
    padding: 15px 99px;
    border-radius: 30px;
  }
}