@font-face {
  font-family: 'RadioCanada-SemiBold';
  src: url('../fonts/RadioCanada-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RadioCanada-Medium';
  src: url('../fonts/RadioCanada-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RadioCanada-Regular';
  src: url('../fonts/RadioCanada-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RadioCanada-Light';
  src: url('../fonts/RadioCanada-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
