.about-app {
  padding: 70px 0;

  @media (max-width: 992px) {
    padding: 50px 0 45px 0;
  }

  &__title {
    margin-bottom: 65px;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 1400px) {
      align-items: flex-end;
    }

    @media (max-width: 1200px) {
      align-items: center;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__img {
    margin-bottom: 50px;
    width: 560px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 14px 0 rgba(62, 86, 105, 0.1);

    @media (max-width: 1800px) {
      width: 420px;
    }

    @media (max-width: 1400px) {
      width: 290px;
    }

    @media (max-width: 992px) {
      margin-bottom: 0;
      width: 320px;
      height: 319px;
    }

    &--long {
      margin-bottom: 0;

      @media (max-width: 992px) {
        margin-bottom: 30px;
        height: 470px;
      }

      @media (max-width: 576px) {
        margin-bottom: 55px;
      }
    }

    &--mrg-bt-less {
      margin-bottom: 30px;

      @media (max-width: 992px) {
        height: 274px;
      }
    }

    &--short {
      margin-bottom: 0;

      @media (max-width: 992px) {
        height: 265px;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;

    @media (max-width: 1400px) {
      &:last-of-type {
        justify-content: space-between;
        height: 721px;
      }
    }

    @media (max-width: 1400px) {
      &:last-of-type {
        height: 480px;
      }
    }

    @media (max-width: 992px) {
      &:last-of-type {
        height: 567px;
      }

      &:first-of-type {
        margin-bottom: 30px;
        flex-direction: column-reverse;
      }
    }

    @media (max-width: 576px) {
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }

    @media (max-width: 576px) {
      margin-bottom: 40px;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-family: 'RadioCanada-Light', sans-serif;

    .first-word-blue {
      font-family: 'RadioCanada-SemiBold', sans-serif;
      color: #53a6ea;
    }

    @media (max-width: 1400px) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  &__link {
    max-width: 260px;
    font-size: 16px;

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }
}
