.problem-solution {
  padding: 70px 0 75px 0;

  @media (max-width: 992px) {
    padding: 45px 0 40px 0;
  }

  &__title {
    margin-bottom: 85px;
    max-width: 695px;
    line-height: 105%;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  &__cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 95px 40px;

    @media (max-width: 1400px) {
      gap: 55px 20px;
    }

    @media (max-width: 1200px) {
      gap: 80px 20px;
    }
  }

  &__card {
    position: relative;
    padding-left: 70px;
    max-width: 560px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 40px;
      height: 40px;
      background-image: url('../img/problem-solution/card-decor.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: rotate(18deg);
    }

    @media (max-width: 1200px) {
      padding-left: 0;
      max-width: 460px;

      &::before {
        top: -15px;
        transform: rotate(18deg) translateY(-100%);
      }
    }

    @media (max-width: 992px) {
      max-width: 100%;

      &::before {
        width: 27px;
        height: 27px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-family: 'RadioCanada-Medium', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 105%;
    color: #0a8ed9;

    @media (max-width: 1800px) {
      font-size: 34px;
    }

    @media (max-width: 1200px) {
      font-size: 24px;
    }
  }

  &__text {
    font-family: 'RadioCanada-Light', sans-serif;
    line-height: 125%;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
}
